@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

@layer base{
  body{
    @apply bg-[#edf4fd]
  }
  .footer-link > div > p:nth-of-type(1){
    @apply text-lg font-semibold mb-2
  }
  .footer-link > div > ul > li{
    @apply text-sm font-normal mb-1
  }
  .footer-link > div > ul > li:last-child{
    @apply mb-0;
  }

}
div.teams img{
  aspect-ratio: 4 /2.75;
}

ul.inactive{
  /* transform: translateY(-100%); */
  animation: moveUp 0.5s ease-out forwards;
}
@keyframes moveUp {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-100%);
  }
}


ul.active{
  /* transform: translateY(-100%); */
  animation: moveDown 0.5s ease-out forwards;
}

@keyframes moveDown {
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}

.flex-image2{
  aspect-ratio: 2 / 2.55;
}

@media screen and (max-width: 767px) {
  .flex-image{
    aspect-ratio: 2 / 1.5;
  }
  .flex-image2{
    aspect-ratio: 2 / 1.75;
  }
}

.slick-slide > div{
  display: flex;
  justify-content: center;
}

.slick-next{
  right: -10px !important;
}
.slick-prev{
left: -10px !important;
}

.slick-prev:before, .slick-next:before{
  color: #105504 !important;
}

.slick-dots li.slick-active button:before {
  color: #105504 !important;
}

.slick-slider{
  width: 90% !important;
  display: block !important;
  padding-inline: 5% !important;
} 

@media screen and (min-width:693px) {
  .slick-slider{
    display:none !important;
  } 
}